# 01_explore — detect header, load 400 rows, parse dates
Goal: robustly load from the original sheet (with legend rows) and confirm key columns/types.

In [34]:
#Environment & CWD (Code)
import os, pathlib, sys, pandas as pd

# Ensure CWD is repo root (parent of notebooks/)
if pathlib.Path().resolve().name == "notebooks":
    os.chdir("..")
print("CWD:", os.getcwd())
print("Python:", sys.version.split()[0], "| pandas:", pd.__version__)

CWD: /Users/abdulrahmanaboluhom/Documents/GitHub/Projects/indepth-driving-data-analysis
Python: 3.9.6 | pandas: 2.3.1

In [36]:
#Data path & sheet list (Code)

from pathlib import Path
DATA = Path("data/raw")
file = DATA / "driving_sample.xlsx"  # <-- change to actual filename
print("File exists:", file.exists())

xls = pd.ExcelFile(file)
xls.sheet_names  # check the exact messy sheet name here

File exists: True

['Journey_Event_Sample']

In [38]:
#Auto detect header row

import numpy as np
import pandas as pd

sheet = "Journey_Event_Sample"   # <-- exact name from the list above

def guess_header_row(xlsx_path, sheet_name, look_rows=40):
    tmp = pd.read_excel(xlsx_path, sheet_name=sheet_name, header=None, nrows=look_rows)
    scores = []
    for i in range(len(tmp)):
        row = tmp.iloc[i]
        nonnull = row.notna().sum()
        texty = sum(isinstance(v, str) for v in row)
        # longer unique strings often indicate headers (vs. repeated numbers/zeros)
        uniq = row.nunique(dropna=True)
        scores.append((i, int(nonnull), int(texty), int(uniq)))
    # sort by non-null, then texty, then unique count
    scores.sort(key=lambda t: (t[1], t[2], t[3]), reverse=True)
    return scores[0][0]  # 0-based index

header_idx = guess_header_row(file, sheet)
print("Guessed header row (0-based):", header_idx, "=> Excel row", header_idx+1)

Guessed header row (0-based): 15 => Excel row 16

In [39]:
peek = pd.read_excel(file, sheet_name=sheet, header=None, skiprows=max(0, header_idx-1), nrows=5)
peek

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,NaN,ALL DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Policy Number,Voucher ID,PlateNumber,VIN,Device Serial Number,Journey ID,Journey Segment Type,Event Type ID,Event Type,...,Delta Decelerations 1,Delta Decelerations 2,Delta Decelerations 3,Delta Decelerations 4,Delta Decelerations 5,Delta Decelerations 6,Delta Decelerations 7,Delta Decelerations 8,Delta Decelerations 9,Delta Decelerations 10
2,NaN,P75235539-1,2307976,SL14CAU,NaN,00128491027,230797620241128203458,D,1,Departure Event - ignition on,...,0,0,0,0,0,0,0,0,0,0
3,NaN,P75235539-1,2307976,SL14CAU,NaN,00128491027,230797620241128203458,t,3,Trip Time Event,...,0,0,0,0,0,0,0,0,0,0
4,NaN,P75235539-1,2307976,SL14CAU,NaN,00128491027,230797620241128203458,t,3,Trip Time Event,...,0,0,0,0,0,0,0,0,0,0

In [45]:
import pandas as pd

# you already have these from earlier cells
# file = DATA / "driving_sample.xlsx"
# sheet = "Journey_Event_Sample"
# header_idx = <the detected 0-based header row index>

df = pd.read_excel(
    file,
    sheet_name=sheet,
    header=header_idx,
    nrows=400,        # your sample size
    usecols="B:BC"    # skip blank/legend col A; adjust end column if needed
)
df.head(2)

,Policy Number,Voucher ID,PlateNumber,VIN,Device Serial Number,Journey ID,Journey Segment Type,Event Type ID,Event Type,RTC Date Time,...,Delta Decelerations 1,Delta Decelerations 2,Delta Decelerations 3,Delta Decelerations 4,Delta Decelerations 5,Delta Decelerations 6,Delta Decelerations 7,Delta Decelerations 8,Delta Decelerations 9,Delta Decelerations 10
0,P75235539-1,2307976,SL14CAU,NaN,128491027,230797620241128203458,D,1,Departure Event - ignition on,28 Nov 2024 20:34:58,...,0,0,0,0,0,0,0,0,0,0
1,P75235539-1,2307976,SL14CAU,NaN,128491027,230797620241128203458,t,3,Trip Time Event,28 Nov 2024 20:35:58,...,0,0,0,0,0,0,0,0,0,0

In [46]:
print("shape:", df.shape)
print("first 12 columns:", df.columns[:12].tolist())

# QUICK: are the three date columns even present?
date_cols = ["RTC Date Time", "GPS Date Time", "Event Time Stamp"]
present = [c for c in date_cols if c in df.columns]
missing = [c for c in date_cols if c not in df.columns]
print("date cols present:", present, "| missing:", missing)

# show dtypes of a few key columns
cols_probe = present + [c for c in ["Event Type","Latitude","Longitude","Horizontal Speed","Road Speed Limit"] if c in df.columns]
df[cols_probe].dtypes

shape: (384, 54)
first 12 columns: ['Policy Number', 'Voucher ID', 'PlateNumber', 'VIN', 'Device Serial Number', 'Journey ID', 'Journey Segment Type', 'Event Type ID', 'Event Type', 'RTC Date Time', 'GPS Date Time', 'Event Time Stamp']
date cols present: ['RTC Date Time', 'GPS Date Time', 'Event Time Stamp'] | missing: []

RTC Date Time        object
GPS Date Time        object
Event Time Stamp     object
Event Type           object
Latitude            float64
Longitude           float64
Horizontal Speed      int64
Road Speed Limit      int64
dtype: object

In [47]:
for col in present:
    df[col] = pd.to_datetime(df[col], dayfirst=True, errors="coerce")

In [48]:
for col in present:
    dtype_ok = str(df[col].dtype).startswith("datetime64")
    nulls = int(df[col].isna().sum())
    print(f"{col}: dtype_ok={dtype_ok}, nulls={nulls} of {len(df)}")

RTC Date Time: dtype_ok=True, nulls=0 of 384
GPS Date Time: dtype_ok=True, nulls=0 of 384
Event Time Stamp: dtype_ok=True, nulls=0 of 384

In [49]:
for col in present:
    bad = df.loc[df[col].isna(), col]
    if len(bad) > 0:
        # show a few original strings (need the original column to compare—if you need this later,
        # we can clone the original text first before to_datetime; for now we just report counts)
        print(f"{col}: {len(bad)} nulls after parsing (inspect upstream if unexpected)")

In [50]:
# Hard guarantees (adjust as you like)
assert all(str(df[c].dtype).startswith("datetime64") for c in present), "Some date columns are not datetime"
print("✅ date dtype assertions passed")

✅ date dtype assertions passed

## ✅ Stopped here
Dates are now parsed + audited. Next step = deeper cleaning & exploring columns.